@import url('./fonts/fonts.css');

.App {
  font-family: 'Inter', sans-serif;

}

.content {
  transition: opacity .5s ease-in-out;
}

.loading {
  transition: opacity .5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}