.SearchResultsByCategory .header {
    padding: 0 10rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, #d5d5d5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#3fd8a1", GradientType=1);
    box-shadow: 0 4px 5px #0000002e;
}

.SearchResultsByCategory a,
.SearchResultsByCategory span,
.SearchResultsByCategory h1 {
    color: white;
    text-decoration: none;
}

.SearchResultsByCategory a,
.SearchResultsByCategory span {
    font-weight: 400;
}

.SearchResultsByCategory span {
    margin: 0 .25rem;
}

.SearchResultsByCategory h1 {
    font-size: 40px;
    margin-top: .5rem;
    margin: 0;
    font-weight: 400;
}

.SearchResultsByCategory .keyword {
    font-weight: 700;
    margin: 0;
}

.SearchResultsByCategory .country-wrapper {
    display: flex;
    justify-content: center;
}

.SearchResultsByCategory .country-event-list {
    width: 33%;
}

.SearchResultsByCategory .country-event-list ul {
    padding: 0;
}

.SearchResultsByCategory .event-card {
    display: flex;
    padding: 1rem;
    padding-left: 0;
    border-bottom: 1px solid #d7d7d7;
}

.SearchResultsByCategory .event-card img {
    width: 102.5px;
    height: 57.5px;
}

.SearchResultsByCategory .event-card .event-info {
    padding-left: 1rem;
    width: 300px;
}

.SearchResultsByCategory .event-info h4 {
    margin: .5rem 0;
}

.SearchResultsByCategory .event-info h6 {
    margin: 0;
    color: gray;
}

.SearchResultsByCategory .ticket-link {
    color: gray;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.SearchResultsByCategory .event-location {
    width: 33%;
}