.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.filter-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: transparent;
    color: gray;
    margin: 0 1rem;
    padding-bottom: .75rem;
    font-size: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-color .5s ease-in-out, color .5s ease-in-out;
}

.filter-btn:hover {
    color: black;
    border-color: rgb(196, 196, 196);
    cursor: pointer;
}

.filter-icon {
    height: auto;
    padding-bottom: 5px;
}